body{
    font:normal 18pt Arial;
    text-align: center;
}
table#mainTable{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(247, 209, 86);
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.466);
}
input#btnAdicionarNaTabela, input#btnAbrirFormulario, input#btnDeletarItem{
    margin-top: 10px;
    height: 40px;
    width: 250px;
    font:normal 15pt Arial;
    text-align: center;
}
input#btnDeletarItem{
    background: rgb(255, 118, 118);
}
input#btnAbrirFormulario{
    background: rgb(116, 255, 139);
}
input#inputNewBio{
    width: 400px;
}
th,td{
    padding: 30px 20px;
    border: 2px solid 
}